openapi: 3.2.0
info:
  title: Cohesity Tasks API
  version: '1.0'
  description: 'Operations tagged Tasks across 2 of this provider''s published API definitions: cohesity-cluster-v2-openapi-original.yml, cohesity-helios-reporting-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: /v2
- url: https://helios.cohesity.com/heliosreporting/api/v1
tags:
- name: Tasks
paths:
  /tasks:
    get:
      description: Get details about tasks by providing task ids.
      tags:
      - Tasks
      summary: Get tasks details
      operationId: GetProgressTasks
      parameters:
      - description: Specifies a unique task id to get the deatils of a task. To fetch the status of multiple tasks, pass comma seperated list of taskIds.
        name: ids
        in: query
        schema:
          type: array
          items:
            type: string
          minItems: 1
          uniqueItems: true
      responses:
        '200':
          $ref: '#/components/responses/ProgressTasksResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - APIKeyHeader: []
    servers:
    - url: /v2
  /public/tasks:
    get:
      description: Fetches list of tasks by query params.
      tags:
      - Tasks
      summary: Fetch Tasks
      operationId: GetTasks
      parameters:
      - name: ids
        in: query
        description: Specifies the ids of tasks to fetch.
        schema:
          type: array
          items:
            type: string
      - name: scheduleIds
        in: query
        description: Specifies the schedule ids corresponding to which tasks must be fetched.
        schema:
          type: array
          items:
            type: string
      - name: reportIds
        in: query
        description: '"Specifies the report ids corresponding to which TasksDao must be

          fetched."'
        schema:
          type: array
          items:
            type: string
      - name: statuses
        in: query
        description: '"Specifies the task statuses corresponding to which TasksDao must

          be fetched."'
        schema:
          type: array
          items:
            type: string
            enum:
            - Created
            - InProgress
            - Completed
            - Error
      - name: onDemand
        in: query
        description: If true, return only on demand tasks.
        schema:
          type: boolean
      - name: fromTimeUsecs
        in: query
        description: If specified, the tasks created after this value are returned. Value is epoch timestamp in microseconds.
        schema:
          type: integer
          format: int64
      - name: toTimeUsecs
        in: query
        description: If specified, the tasks created before this value are returned. Value is epoch timestamp in microseconds.
        schema:
          type: integer
          format: int64
      responses:
        200:
          $ref: '#/components/responses/GetTasksResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://helios.cohesity.com/heliosreporting/api/v1
  /public/tasks/{id}:
    get:
      description: Get a tasks for a given id.
      tags:
      - Tasks
      summary: Fetch a Task
      operationId: GetTaskById
      parameters:
      - name: id
        in: path
        description: Specifies the id of the task.
        required: true
        schema:
          type: string
      responses:
        200:
          $ref: '#/components/responses/GetTaskByIdResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - ApiKeyAuth: []
    servers:
    - url: https://helios.cohesity.com/heliosreporting/api/v1
components:
  responses:
    ProgressTasksResponse:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProgressTasks'
    ErrorResponse:
      description: Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    GetTasksResponse:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Tasks'
    GetTaskByIdResponse:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Task'
  schemas:
    ProgressTask:
      description: This specifies the details about the Progress Task.
      title: Progress Task
      allOf:
      - type: object
        properties:
          id:
            description: Specifies the task id of the Progress task.
            type:
            - string
            - 'null'
            x-order: 0
      - $ref: '#/components/schemas/ProgressTaskInfo'
    ProgressStats:
      description: Specifies the stats within progress.
      type: object
      properties:
        fileWalkDone:
          description: Specifies whether the file system walk is done. Only applicable to file based backups.
          type:
          - boolean
          - 'null'
          x-order: 0
        totalFileCount:
          description: Specifies the total number of file and directory entities visited in this backup. Only applicable to file based backups.
          type:
          - integer
          - 'null'
          format: int64
          x-order: 1
        backupFileCount:
          description: Specifies the total number of file and directory entities that are backed up in this run. Only applicable to file based backups.
          type:
          - integer
          - 'null'
          format: int64
          x-order: 2
    ProgressTaskEvent:
      description: Specifies the details about the various events which are created during the execution of Progress Task.
      type: object
      properties:
        message:
          description: Specifies the log message describing the current event.
          type:
          - string
          - 'null'
          x-order: 0
        occuredAtUsecs:
          description: Specifies the time of the event occurance in Unix epoch Timestamp(in microseconds).
          type:
          - integer
          - 'null'
          format: int64
          x-order: 1
    ProgressTaskInfo:
      description: Specifies the details about a Progress Task.
      type: object
      title: Progress Task
      properties:
        status:
          description: Specifies the current status of the progress task.
          type:
          - string
          - 'null'
          enum:
          - Active
          - Finished
          - FinishedWithError
          - Canceled
          - FinishedGarbageCollected
          x-order: 0
        percentageCompleted:
          description: Specifies the current completed percentage of the progress task.
          type:
          - number
          - 'null'
          format: float
          x-order: 1
        startTimeUsecs:
          description: Specifies the start time of the progress task in Unix epoch Timestamp(in microseconds).
          type:
          - integer
          - 'null'
          format: int64
          x-order: 2
        endTimeUsecs:
          description: Specifies the end time of the progress task in Unix epoch Timestamp(in microseconds).
          type:
          - integer
          - 'null'
          format: int64
          x-order: 3
        expectedRemainingTimeUsecs:
          description: Specifies the expected remaining time of the progress task in Unix epoch Timestamp(in microseconds).
          type:
          - integer
          - 'null'
          format: int64
          x-order: 4
        events:
          description: Specifies the event log created for progress Task.
          type: array
          items:
            $ref: '#/components/schemas/ProgressTaskEvent'
          x-order: 5
        stats:
          description: Specifies the stats within the progress.
          type:
          - object
          - 'null'
          x-order: 6
          $ref: '#/components/schemas/ProgressStats'
    Error:
      description: Specifies the error object with error code and a message.
      type: object
      title: Error.
      properties:
        errorCode:
          description: Specifies the error code.
          type:
          - string
          - 'null'
          x-order: 0
        message:
          description: Specifies the error message.
          type:
          - string
          - 'null'
          x-order: 1
    ProgressTasks:
      description: List of Progress Tasks.
      type: object
      title: Progress Tasks
      properties:
        progressTasks:
          description: Specifies the list of Progress Task.
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProgressTask'
          x-order: 0
    Tasks:
      description: Specifies a list of tasks.
      type: object
      properties:
        tasks:
          description: Specifies list of tasks.
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Task'
    SystemsFilterParams:
      description: Specifies the systems filter. Specifying this will pre filter all the results provided list of system identifier before applying aggregations.
      type: object
      required:
      - systemIds
      properties:
        systemNames:
          description: Specifies the optional system names labels.
          type: array
          items:
            type: string
          x-go-custom-tag: bson:"systemNames,omitempty"
        systemIds:
          description: Specifies an array of system identifiers. System identifiers may be of format clusterid:clusterincarnationid or a regionid (applicable only in case of DMaaS).
          type: array
          items:
            type: string
          minItems: 1
          x-go-custom-tag: bson:"systemIds,omitempty"
    RangeFilterParams:
      description: Specifies the filters that are applied on attributes.
      type: object
      properties:
        lowerBound:
          description: Specifies the lower bound value. If specified, all the results which are greater than this value will be returned.
          type:
          - integer
          - 'null'
          format: int64
          x-go-custom-tag: bson:"lowerBound,omitempty"
        upperBound:
          description: Specifies the upper bound value. If specified, all the results which are lesser than this value will be returned.
          type:
          - integer
          - 'null'
          format: int64
          x-go-custom-tag: bson:"upperBound,omitempty"
    AttributeFilter:
      description: Specifies the filters that are applied on attributes.
      type: object
      required:
      - attribute
      - filterType
      properties:
        attribute:
          description: Specifies the attribute.
          type:
          - string
          - 'null'
          x-go-custom-tag: bson:"attribute,omitempty"
        filterType:
          description: Specifies the type of the filter that needs to be applied.
          type:
          - string
          - 'null'
          enum:
          - In
          - Range
          - TimeRange
          - Systems
          - Tenants
          x-go-custom-tag: bson:"filterType,omitempty"
        inFilterParams:
          description: Specifies the params for applying IN filter. This will filter the results for the specified values for the specified attribute
          $ref: '#/components/schemas/InFilterParams'
          x-go-custom-tag: bson:"inFilterParams,omitempty"
        rangeFilterParams:
          description: Specifies the params for applying range filter. This will filter the results for the specified range for the specified attribute.
          $ref: '#/components/schemas/RangeFilterParams'
          x-go-custom-tag: bson:"rangeFilterParams,omitempty"
        timeRangeFilterParams:
          description: Specifies the params for applying timerange filter. This basically applies the time bound on which resources are pre filtered.
          $ref: '#/components/schemas/TimeRangeFilterParams'
          x-go-custom-tag: bson:"timeRangeFilterParams,omitempty"
        systemsFilterParams:
          description: Specifies the params for applying filter on system identifiers.
          $ref: '#/components/schemas/SystemsFilterParams'
          x-go-custom-tag: bson:"systemsFilterParams,omitempty"
        tenantsFilterParams:
          description: Specifies the params for applying filter on system identifiers.
          $ref: '#/components/schemas/TenantsFilterParams'
          x-go-custom-tag: bson:"tenantsFilterParams,omitempty"
    TenantsFilterParams:
      description: 'Specifies the tenants filter. Specifying this will pre filter all the

        results with provided list of tenants before applying aggregations.'
      type: object
      properties:
        includeTenants:
          description: 'Specifies whether to include tenants. Defaults to true. If false, it

            will not consider below filters. False will result in no data for

            helios tenant or dmaas user.'
          type:
          - boolean
          - 'null'
          x-go-custom-tag: bson:"includeTenants,omitempty"
        tenantNames:
          description: Specifies the optional tenant names labels.
          type: array
          items:
            type: string
          x-go-custom-tag: bson:"tenantNames,omitempty"
        tenantIds:
          description: 'Specifies an array of tenant identifiers. Provide local tenant

            identifiers.'
          type: array
          items:
            type: string
          minItems: 1
          x-go-custom-tag: bson:"tenantIds,omitempty"
    TimeRangeFilterParams:
      description: Specifies the time range filter. Specifying this will pre filter all the results on necessary resources like Protection Runs etc before applying aggregations. Currently, maximum allowed time range is 60 days.
      type: object
      properties:
        lowerBound:
          description: Specifies the lower bound value. If specified, all the results which are greater than this value will be returned.
          type:
          - integer
          - 'null'
          format: int64
          x-go-custom-tag: bson:"lowerBound,omitempty"
        upperBound:
          description: Specifies the upper bound value. If specified, all the results which are lesser than this value will be returned.
          type:
          - integer
          - 'null'
          format: int64
          x-go-custom-tag: bson:"upperBound,omitempty"
        durationHours:
          description: Specifies the duration preceding the current time for which the data must be fetch i.e fetch data between currentTime and currentTime - durationHours. This filter is only considered if neither upperBound, lowerBound or dateRange is specified.
          type:
          - integer
          - 'null'
          format: int64
          x-go-custom-tag: bson:"durationHours,omitempty"
        dateRange:
          description: Enum value for specifying the date range for a time filter. Considered only if lowerBound and upperBound are empty.
          type:
          - string
          - 'null'
          enum:
          - Last1Hour
          - Last24Hours
          - Last7Days
          - CurrentMonth
          - Last30Days
          - LastMonth
          - Last90Days
          - Last3Months
          - Last180Days
          - Last6Months
          - CurrentYear
          - Last365Days
          - LastYear
          x-go-custom-tag: bson:"dateRange,omitempty"
    InFilterParams:
      description: Specifies the in filter that are applied on attributes.
      type: object
      required:
      - attributeDataType
      properties:
        attributeDataType:
          description: Specifies the data type of the attribute.
          type:
          - string
          - 'null'
          enum:
          - Bool
          - String
          - Int64
          - Int32
          - StringArray
          - Int64Array
          - Float64
          x-go-custom-tag: bson:"attributeDataType,omitempty"
        attributeLabels:
          description: Specifies the optional label values for the attribute.
          type: array
          items:
            type: string
          x-go-custom-tag: bson:"attributeLabels,omitempty"
        int64FilterValues:
          description: Specifies list of int64 values to filter results on.
          type: array
          items:
            type: integer
            format: int64
          x-go-custom-tag: bson:"int64FilterValues,omitempty"
        boolFilterValues:
          description: Specifies list of boolean values to filter results on.
          type: array
          items:
            type: boolean
          x-go-custom-tag: bson:"boolFilterValues,omitempty"
        stringFilterValues:
          description: Specifies list of string values to filter results on.
          type: array
          items:
            type: string
          x-go-custom-tag: bson:"stringFilterValues,omitempty"
        int32FilterValues:
          description: Specifies list of int32 values to filter results on.
          type: array
          items:
            type: integer
            format: int32
          x-go-custom-tag: bson:"int32FilterValues,omitempty"
    Error_2:
      description: Specifies the error object with error code and a message.
      type: object
      properties:
        errorCode:
          description: Specifies the error code.
          type: integer
        errorMessage:
          description: Specifies the error message.
          type: string
    Task:
      description: Definition of a task.
      type: object
      required:
      - reportId
      properties:
        taskId:
          description: Specifies id of the task.
          type:
          - string
          - 'null'
          x-go-custom-tag: bson:"taskId,omitempty"
        reportId:
          description: Specifies the id of the report for which the task was created.
          type:
          - string
          - 'null'
          x-go-custom-tag: bson:"reportId,omitempty"
        scheduleId:
          description: Specifies the id of the schedule for which the task was created. Maybe nil for export related tasks.
          type:
          - string
          - 'null'
          x-go-custom-tag: bson:"scheduleId,omitempty"
        emailSubject:
          description: Email Subject for scheduled report to be sent.
          type:
          - string
          - 'null'
          x-go-custom-tag: bson:"emailSubject,omitempty"
        emailIds:
          description: Email ids to which the scheduled report to be sent.
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
          x-go-custom-tag: bson:"emailIds,omitempty"
        filters:
          description: Specifies list of global filters that are applicable to the components in the report.
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AttributeFilter'
          x-go-custom-tag: bson:"filters,omitempty"
        layout:
          description: The layout of the report which needs to be exported.
          type:
          - string
          - 'null'
          x-go-custom-tag: bson:"layout,omitempty"
        timezone:
          description: The timezone in which the report needs to be exported.
          type:
          - string
          - 'null'
          x-go-custom-tag: bson:"timezone,omitempty"
        createdTimeUsecs:
          description: Time when the task was created.
          type:
          - integer
          - 'null'
          format: int64
          readOnly: true
          x-go-custom-tag: bson:"createdTimeUsecs,omitempty"
        updatedTimeUsecs:
          description: Time when the task was updated.
          type:
          - integer
          - 'null'
          format: int64
          readOnly: true
          x-go-custom-tag: bson:"updatedTimeUsecs,omitempty"
        startTimeUsecs:
          description: Time when the task started.
          type:
          - integer
          - 'null'
          format: int64
          x-go-custom-tag: bson:"startTimeUsecs,omitempty"
        endTimeUsecs:
          description: Time when the task ended.
          type:
          - integer
          - 'null'
          format: int64
          x-go-custom-tag: bson:"endTimeUsecs,omitempty"
        status:
          description: The status of the task.
          type:
          - string
          - 'null'
          enum:
          - Created
          - InProgress
          - Completed
          - Error
          x-go-custom-tag: bson:"status,omitempty"
        message:
          description: The message present for the task.
          type:
          - string
          - 'null'
          x-go-custom-tag: bson:"message,omitempty"
        reportFormat:
          description: The formats in which the report task has been requested. Can be PDF/CSV/XLS/HTML.
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
            enum:
            - PDF
            - XLS
            - CSV
          x-go-custom-tag: bson:"reportFormat,omitempty"
  securitySchemes:
    APIKeyHeader:
      in: header
      name: apiKey
      type: apiKey
    ApiKeyAuth:
      type: apiKey
      in: header
      name: apiKey
x-refined-from:
- cohesity-cluster-v2-openapi-original.yml
- cohesity-helios-reporting-openapi-original.yml
